@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.calendar-day,
.calendar-week-header {
  width: calc(100% / 7);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.calendar-day {
  font-weight: 500;
}

.calendar-week-header {
  color: #ccc;
}